.imagescontainer {
    margin-right: 50px;
}

h1,
h2,
h3 {
    text-align: center;
}

#selfimage {
    width: 200px;
    height: 200px;
    margin-left: 250px;
}

body {
    background-image: url(/Users/user/Documents/uawork/homework/PortfolioUpdated/assets/images/dust_scratches.png);
    padding: 0px;
    margin: 0px;
}

.img-responsive {
    width: 400px;
    height: 150px;
}

footer {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    height: 30px;
    margin-top: -30ps;
    width: 100%;
    clear: both;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.contactimages {
    width: 50px;
    height: 50px;
}

header {
    background: black;
    color: white;
    width: 100%;
}
.containercontactform {
    margin-left: 650px;
    border-width: 1px;
}